//  Style   Plug
color: rgba(0, 0, 0, 0.90);
 font-size: 50px;
 font-family: Almarai;
 font-weight: 700;
 word-wrap: break-word
---
// Home
color: black;
 font-size: 36px;
 font-family: Almarai;
 font-weight: 700;
 word-wrap: break-word