//  Style   Plug
color: rgba(0, 0, 0, 0.90);
 font-size: 50px;
 font-family: Almarai;
 font-weight: 700;
 word-wrap: break-word
---
// Home
color: black;
 font-size: 36px;
 font-family: Almarai;
 font-weight: 700;
 word-wrap: break-word
---
// capsule.com
color: #D7D7D7;
 font-size: 20px;
 font-family: Almarai;
 font-weight: 800;
 word-wrap: break-word
---
// summer inspo!
color: black;
 font-size: 50px;
 font-family: Almarai;
 font-weight: 700;
 word-wrap: break-word
---
// tica.com
color: #D7D7D7;
 font-size: 20px;
 font-family: Almarai;
 font-weight: 800;
 word-wrap: break-word
---
// stealmystyle.com
color: #D7D7D7;
 font-size: 20px;
 font-family: Almarai;
 font-weight: 800;
 word-wrap: break-word
---
// Un Sunni fashion
color: black;
 font-size: 50px;
 font-family: Almarai;
 font-weight: 700;
 word-wrap: break-word
---
// Search ....
color: #D7D7D7;
 font-size: 50px;
 font-family: Almarai;
 font-weight: 400;
 word-wrap: break-word
---
// comment...
color: #A9ACB2;
 font-size: 30px;
 font-family: Almarai;
 font-weight: 400;
 word-wrap: break-word