//  Style   Plug
color: rgba(0, 0, 0, 0.90);
 font-size: 50px;
 font-family: Almarai;
 font-weight: 700;
 word-wrap: break-word
---
// Home
color: black;
 font-size: 36px;
 font-family: Almarai;
 font-weight: 700;
 word-wrap: break-word
---
// Search ....
color: #D7D7D7;
 font-size: 50px;
 font-family: Almarai;
 font-weight: 400;
 word-wrap: break-word
---
// Leesah  Twigs
color: black;
 font-size: 40px;
 font-family: Almarai;
 font-weight: 700;
 word-wrap: break-word
---
// upload
color: black;
 font-size: 40px;
 font-family: Almarai;
 font-weight: 700;
 word-wrap: break-word
---
// edit profile
color: black;
 font-size: 40px;
 font-family: Almarai;
 font-weight: 700;
 word-wrap: break-word