@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');


html,body {

    flex-shrink: 0;
    background image:url (\Loise\SP background.jpg );
}

span {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

.ellipse {
    width: 106px;
    height: 76px;
    margin-right: 500px;
    margin-bottom: 20px;
    flex-shrink: 0;
    border-radius: 106px;
background: url("./images/img1.svg"), lightgray 50% / cover no-repeat;
}

.title {
    margin: 24px;

    text-align: center;
    color: #000;
    font-family: 'Almarai', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box {
    width: 120px;
height: 129px;
border-radius: 20px;
background: url("./images/img2.png"), lightgray 50% / cover no-repeat;
}

.login {
width: 700px;
display: grid;
align-items: center;
justify-content: center;
height: 100%;
    margin: auto;
    width: 50%;
    border: 1px solid rgb(28, 31, 28);


}

.login >* {
    color: #000000;
    font-family: 'Almarai', sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.bars {
width: 450px;
height: 90px;
flex-shrink: 0;
margin: 10px 0 10px 0;
border-radius: 40px;
border: 2px black solid;
background: #D9D9D9;
}

.submitStyle {
    width: 215px;
height: 36px;
flex-shrink: 0;
    color: #000000;
    font-family: 'Almarai', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
}

button {
    background-color: #636863e0; 
    border-radius: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1px;
    margin-bottom: 20px;
  }